<div class="mx-80 my-96 bg-gray-800 box-border px-10 rounded-2xl min-w-48 min-h-96 py-6">
  <p
    class="w-full p-4 text-black bg-white rounded-lg shadow dark:text-black dark:bg-green-300 duration-1000
      {{this.visibility}}"
    role="alert"
  >
    {{this.alertText}}
  </p>
  <h2 class="mx-80 font-mono">Todo List</h2>
  <AddTask @addTask={{this.addTask}} @updateParams={{this.newTask}} />
  <div class="flex justify-between mt-6">
    <div class="relative inline-block">
      <button
        id="filterButton"
        type="button"
        class="bg-rose-500 box-border px-8 py-4 ml-14 rounded-lg min-w-12 min-h-8 font-mono bg-opacity-45"
        aria-expanded="true"
        aria-haspopup="true"
        {{on "click" this.menuVisibility}}
      >Filter</button>
      <TasksFilter @menu={{this.menu}} @filter={{this.filtering}}/>    
  </div>

    <button
      id="deleteButton"
      type="button"
      class="bg-red-900 box-border px-8 py-4 mr-14 rounded-lg min-w-12 min-h-8 font-mono"
      {{on "click" this.deleteAllTask}}
    > Delete all</button>
  </div>
  <TaskTable
    @tasks={{this.filteredTasks}}
    @validateTask={{this.checkTask}}
    @deleteTask={{this.deleteTask}}
    @modifyTask={{this.updatetask}}
  />
</div>